@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Dimension Data is your very own company that serves to keep you up to date with all the 
        company information you need. Remember to register and login to the system. This application
        is aimed at keeping all our employees updated.
    </p>
    
</div>
